<!DOCTYPE html>
<html>
  <head>
    <title>redirecting...</title>
    <meta name="robots" content="noindex,nofollow">
  </head>
  <body>
    <p>redirecting...</p>
    <script src="https://cdn.jsdelivr.net/npm/@ruby/3.3-wasm-wasi@2.6.2/dist/browser.script.iife.js"></script>
    <script type="text/ruby" src="/-/redirect.rb?<%= Time.now.to_i %>"></script>
  </body>
</html>
